# Ignorar directorios de compilación
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/

# Archivos de estado del proyecto de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Carpeta específica de Visual Studio
.vs/

# Archivos de cache que pueden ser recreados
*.csproj.AssemblyReference.cache
*.AssemblyInfo.cs

# Otros archivos generados automáticamente
*.cache
*.VisualState.xml
*.vshost.*
*.[Cc]ache
*.bak
*.tmp

# Archivos específicos de ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
